<?xml version="1.0" encoding="utf-8"?>


<web-app>

  <servlet>
    <servlet-name>myservlet</servlet-name>
    <servlet-class>servlet.MyServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>myservlet</servlet-name>
    <url-pattern>/mycat</url-pattern>
  </servlet-mapping>

</web-app>

